<!--PÁGINA PRINCIPAL NAVBAR Y FOOTER-->

<div class="drawer lg:drawer-open">
  <input id="sidebar" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <header>
      <div class="navbar bg-base-100 shadow-sm">
        <div class="navbar-start">
          <!-- Botón para abrir el sidebar en móvil -->
          <label for="sidebar" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </label>
          <a class="btn btn-square" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="https://github.com/joralmumo/InstacotizaOnlineDlx/blob/main/src/app/static/img/icon.png?raw=true" alt="ictz_icon" style="width: 100%; height: 100%;"/>
          </a>
        </div>
        <div class="navbar-end gap-2">
          @if (isLoggedIn()) {
            <a class="btn" (click)="cerrarSesion()">Cerrar Sesión</a>
          }
          @else {
            <a class="btn" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Registrarse</a>
            <a class="btn" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Iniciar Sesión</a>
          }
        </div>
      </div>
    </header>

    <!-- Contenido principal -->
    <main class="flex-1 object-fit" style="padding: 1%;">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
      <aside>
        <p>Todos los derechos reservados ©2025 Team Dynamite - JMVJ</p>
      </aside>
    </footer>
  </div>

  <!-- Sidebar -->
  <div class="drawer-side">
    <label for="sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-48 min-h-full bg-base-200 text-base-content">
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      @if (isLoggedIn()) {
        <li><a routerLink="/cotizador-r" routerLinkActive="active" ariaCurrentWhenActive="page">Cotizador</a></li>
        <li><a routerLink="/perfil" routerLinkActive="active" ariaCurrentWhenActive="page">Perfil</a></li>
        <li><a routerLink="/gestor-cotizaciones" routerLinkActive="active" ariaCurrentWhenActive="page">Gestor de Cotizaciones</a></li>
      }
      @else {
        <li><a routerLink="/cotizador" routerLinkActive="active" ariaCurrentWhenActive="page">Cotizador</a></li>
      }
      <li><a routerLink="/acerca-de" routerLinkActive="active" ariaCurrentWhenActive="page">Acerca de</a></li>
    </ul>
  </div>
</div>
